---
import Mainlayout from "../layouts/Mainlayout.astro";

//postcard imports
import PostCard from "../components/PostCard.astro";
import Link from "../components/Link.astro";


//utils imports 
import { formatBlogPosts } from "../js/utils";


const allPosts = await Astro.glob("./blog/*.md")
const formattedPosts = formatBlogPosts(allPosts, {
	limit:3,
});
---

<Mainlayout title="My blog" >

	<section class="container about" aria-label="About Me">
		<img src="/images/headshot.jpg" 
		alt="my headshot"
		width="200"
		height="330"/>
		<div class="content">
			<h class="h1">My Blog</h>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
				Reprehenderit in possimus laudantium temporibus fugit, hic,
				 sit ipsam veritatis saepe,
				  
			</p>
			<Link 
			href="/about/"
			style="primary"
			text ="About Me" 
			/>
		</div>
	</section>
	<section class="container" aria-label="New Blog Posts">
		<h2 class="h1">New Blog Posts</h2>
		<div class="post-container">
			{
				formattedPosts.map((post) => (
				<PostCard
				frontmatter={post.frontmatter}
				 url={post.url} tagType="h3" 
				 />
				 ))
			
			
			}
		</div>
	</section>

</Mainlayout>


